/*body {
    direction:rtl;
}
label {
    float: right;
    text-align:right;
}
.e-headertext {
    float: right;
}*/

body {
    direction: rtl;
}

label {
    float: right;
    text-align: right;
}

.e-headertext {
    float: right;
}

button {
    float: right;
    text-align: right;
}

.sidebar-treeview .e-treeview .e-icon-collapsible,
.sidebar-treeview .e-treeview .e-icon-expandable {
    float: left;
}
.language-footer-label {
    font-weight: bold;
    float: right;
}

.language-footer-value {
    font-weight: bold;
    float: left;
}